<div class="my-article-list">
  <!-- Tab button -->

  <div class="home-header row d-flex justify-content-center">
    <div
      class="tag-group col-md-6 d-flex justify-content-around flex-wrap mb-2"
    >
      <a
        class="btn btn-tab fs-4 mt-2"
        [routerLink]="['/profile', username]"
        routerLinkActive="active"
        >My Articles</a
      >
      <a
        class="btn btn-tab fs-4 mt-2"
        [routerLink]="['/profile', username, 'favorites']"
        routerLinkActive="active"
        >Favorited Articles</a
      >
    </div>
  </div>

  <div class="body mt-4">
    <!-- app-loading -->
    <app-loading *ngIf="!isLoaded"></app-loading>

    <!-- no article -->
    <div class="no-article" *ngIf="articleList?.articles?.length == 0">
      <p class="fs-3">Oops... there is no article here</p>
      <a class="btn btn-outline-primary mt-2" [routerLink]="['/']"
        ><i class="fas fa-backward"></i> Back to Home</a
      >
    </div>

    <!-- list-article -->
    <div class="list-articles row" *ngIf="isLoaded">
      <div
        class="col-lg-4 col-md-6 mb-4"
        *ngFor="let article of articleList?.articles"
      >
        <app-article-detail
          [article]="article"
          (gotoTag)="gotoTag()"
        ></app-article-detail>
      </div>
      <app-pagiantor
        [totalArticle]="articleList ? articleList.articlesCount : 0"
        (changePage)="onChangePage($event)"
        [currentPage]="currentPage"
      ></app-pagiantor>
    </div>
  </div>

  <!-- footer -->
</div>
