<div class="article mb-2">
  <div class="article-header d-flex justify-content-between">
    <div class="left d-flex align-items-center">
      <a [routerLink]="['/profile', article.author.username]"
        ><img
          [src]="article.author.image"
          alt="ava"
          class="article-header-avatar me-2"
      /></a>
      <div class="article-info">
        <a
          [routerLink]="['/profile', article.author.username]"
          class="nav-link"
          >{{ article.author.username }}</a
        >
        <p>{{ article.updatedAt | date: "longDate" }}</p>
      </div>
    </div>
    <div class="favorite-btn">
      <button
        class="btn btn-success"
        (click)="onFavorite(article.slug, article.favorited)"
        [disabled]="disabled"
      >
        <i
          class="fa-heart"
          [ngClass]="{
            far: !article.favorited,
            fas: article.favorited
          }"
        ></i>
        {{ article.favoritesCount }}
      </button>
    </div>
  </div>

  <div class="article-body">
    <h3>{{ article.title }}</h3>
    <p>{{ article.body }}</p>
  </div>
  <hr />
  <div class="article-footer d-flex justify-content-between">
    <button class="btn btn-custom" (click)="onNavigate()">Read more ...</button>
    <div class="tag-list d-flex align-items-center">
      <a *ngFor="let item of article.tagList" class="tag-item me-1" (click)="onClick(item)">
        #{{ item }}</a
      >
    </div>
  </div>
</div>
