<div class="favorite-list">
  <!-- tab -->
  <div class="home-header row d-flex justify-content-center">
    <div class="tag-group col-md-6 d-flex justify-content-around mb-2">
      <a
        class="btn btn-tab fs-4"
        [routerLink]="['/profile', username]"
        routerLinkActive="active"
        >My Articles</a
      >
      <a
        class="btn btn-tab fs-4"
        [routerLink]="['/profile', username, 'favorites']"
        routerLinkActive="active"
        >Favorited Articles</a
      >
    </div>

    <!-- <div class="pagination d-flex justify-content-center mt-4">
      <nav aria-label="Page navigation example" *ngIf="pageList.length">
        <ul class="pagination m-0">
          <li class="page-item" [ngClass]="{ disabled: currentPage == 1 }">
            <a class="page-link" aria-label="Previous" (click)="onPrevPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li class="page-item" *ngFor="let item of pageList">
            <a class="page-link" (click)="onGotoPage(item)">{{ item }}</a>
          </li>

          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage == pageList.length }"
          >
            <a class="page-link" aria-label="Next" (click)="onNextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
  </div>

  <div class="body mt-4">
    <!-- app-load -->
    <app-loading *ngIf="!isLoaded"></app-loading>

    <!-- no article -->
    <div class="no-article" *ngIf="articlesList?.articles?.length == 0">
      <p class="fs-3">Oops... there is no article here</p>
      <a class="btn btn-outline-primary mt-2" [routerLink]="['/']"
        ><i class="fas fa-backward"></i> Back to Home</a
      >
    </div>

    <!-- list article -->

    <div class="list-articles row">
      <div
        class="col-lg-4 col-md-6 mb-4"
        *ngFor="let article of articlesList?.articles"
      >
        <app-article-detail [article]="article"></app-article-detail>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="pagination d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation example" *ngIf="pageList.length">
      <ul class="pagination m-0">
        <li class="page-item" [ngClass]="{ disabled: currentPage == 1 }">
          <a class="page-link" aria-label="Previous" (click)="onPrevPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" *ngFor="let item of pageList">
          <a class="page-link" (click)="onGotoPage(item)">{{ item }}</a>
        </li>

        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage == pageList.length }"
        >
          <a class="page-link" aria-label="Next" (click)="onNextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
