.article {
  height: 100%;
}

.card {
  border-radius: 1rem;
  border: 0;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 3px 3px 15px gray;
}

.card-body {
  border: 0;
}

.card-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
  border: 0;
}

.card-footer {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
}

.article-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

p {
  margin: 0;
}

.nav-link {
  padding: 0;
}

.tag-item {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;

  display: inline-block;
  margin-top: 0.25rem;
}

.tag-item:hover {
  font-weight: bolder;
}

.btn-custom {
  font-weight: bold;
  border-radius: 40%;
}

.btn-custom:hover {
  /* border-bottom: 1px solid gainsboro; */
  box-shadow: 5px 5px 15px gray;
}

.btn-custom-link {
  font-weight: bold;
  border-radius: 1rem;
}

.btn-custom-link:hover {
  /* border-bottom: 1px solid gainsboro; */
  box-shadow: 5px 5px 15px gray;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fas {
  color: red;
}

.overtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-body-text {
  line-height: 1.5em; /* Sets line height to 1.5 times text size */
  height: 3em; /* Sets the div height to 2x line-height (3 times text size) */
  width: 100%; /* Use whatever width you want */
  white-space: normal; /* Wrap lines of text */
  overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
  text-overflow: ellipsis; /* Ellipses (cross-browser) */
  -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
}
