.profile-header {
  background-color: gainsboro;
  padding: 1.5rem;
  border-radius: 1rem;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-tab {
  color: rgb(13, 110, 253);
  font-size: 1.1rem;
}

.btn-tab:hover {
  border-bottom: 2px solid rgb(13, 110, 253);
  font-weight: bold;
}

.active {
  border-bottom: 1px solid rgb(13, 110, 253);
}
