<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">❅</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❄</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❄</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❄</div>
</div>

<app-header></app-header>

<div class="app" style="min-height: 100vh">
  <router-outlet></router-outlet>
</div>

<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->
