<div class="row m-2">
  <div class="setting-page col-lg-6 col-md-8 col-xs-12">
    <form [formGroup]="settingForm" (ngSubmit)="onSubmit()" class="p-2">
      <p class="fs-3 fw-bold text-center">Update your Settings</p>

      <div class="form-group mt-4 row">
        <div
          class="col-sm-9"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          "
        >
          <input
            type="text"
            class="form-control"
            formControlName="image"
            placeholder="Enter the new image link"
            [ngClass]="{
              'is-invalid': !isImageValid && settingForm.controls.image.touched,
              'is-valid':
                settingForm.controls.image.valid &&
                settingForm.controls.image.touched &&
                isImageValid
            }"
          />
          <p
            *ngIf="!isImageValid && settingForm.controls.image.touched"
            class="invalid-feedback"
          >
            Image Url is Invalid!
          </p>
        </div>
        <div class="col-sm-3">
          <img
            [src]="settingForm.value.image"
            alt=""
            class="imageUrl mt-2"
            (load)="onLoaded()"
            (error)="onErrorImage()"
          />
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter the new username"
          [ngClass]="{
            'is-invalid':
              settingForm.controls.username.errors &&
              settingForm.controls.username.touched,
            'is-valid': !!settingForm.controls.username.value
          }"
        />
        <p
          *ngIf="
            settingForm.controls.username.errors &&
            settingForm.controls.username.touched
          "
          class="invalid-feedback"
        >
          User name is required and max length 15 characters
        </p>
      </div>

      <div class="form-group">
        <textarea
          class="form-control"
          formControlName="bio"
          rows="3"
          placeholder="Enter the bio"
        ></textarea>
      </div>

      <div class="form-group">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter the email"
          readonly
        />
      </div>

      <!-- <div class="form-group">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter the new password"
          autocomplete="off"
          readonly
        />
      </div> -->

      <div class="form-button d-flex justify-content-between flex-wrap">
        <button class="btn btn-danger mt-2" (click)="onLogout()" type="button">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
        <button
          class="btn btn-success mt-2"
          [disabled]="settingForm.invalid && isImageValid"
          type="submit"
        >
          <i class="fas fa-edit"></i>
          Update My Profile
        </button>
      </div>
    </form>
  </div>
</div>
