<div class="footer-section bg-light">
  <div class="container-footer">
    <div class="row d-flex align-items-center gy-4">
      <div class="col-md-6 text-md-start text-sm-center mt-2 mb-2">
        <span class="copy-right"> © 2021 Team 1 Fresher Angular </span>
      </div>

      <div class="col-md-6 text-md-end text-sm-center mt-2 mb-2">
        <ul class="social-icons list-unstyled list-inline mb-0">
          <li class="list-inline-item"><i class="fab fa-facebook"></i></li>
          <li class="list-inline-item"><i class="fab fa-youtube"></i></li>
          <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
          <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
