.footer-section {
  position: relative;
}

.container-footer {
  margin: 0 auto;
  width: 90%;
  color: darkblue;
  font-size: 1.1rem;
}

i {
  color: darkblue;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

i:hover {
  transform: scale(1.3);
}
