<div class="row m-2">
  <div class="app-register col-lg-4 col-md-6 col-xs-12">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <h2 class="fw-bold text-center">Register form</h2>
      <div class="text-center"><a routerLink="/login">Have an account?</a></div>

      <div class="form-group">
        <input
          type="text"
          placeholder="Enter username .. (max 15 characters)."
          class="form-control mt-2"
          ngModel
          name="username"
          required
          maxlength="15"
          #username="ngModel"
          [ngClass]="{
            'is-valid': username.valid,
            'is-invalid':
              username.invalid && (username.dirty || username.touched)
          }"
        />
        <p
          *ngIf="username.invalid && (username.dirty || username.touched)"
          class="invalid-feedback"
        >
          User name is required and max length 15 characters
        </p>
      </div>

      <div class="form-group">
        <input
          type="email"
          placeholder="Enter email ..."
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          [ngClass]="{
            'is-valid': email.valid,
            'is-invalid': email.invalid && (email.dirty || email.touched)
          }"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Enter password ..."
          class="form-control"
          ngModel
          name="password"
          required
          #password="ngModel"
          [ngClass]="{
            'is-valid': password.valid,
            'is-invalid':
              password.invalid && (password.dirty || password.touched)
          }"
        />
      </div>

      <div class="register-button-group d-flex justify-content-end">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
