.article-detail {
  border-radius: 1rem;
  background-color: rgb(246, 244, 244);
  transition: all 0.5s ease-in-out;
}

.article-detail:hover {
  box-shadow: 5px 5px 5px gainsboro;
}

.article-header {
  /* background-color: rgb(194, 194, 194); */
  padding: 1rem;
  border-radius: 1rem;

  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  background-image: linear-gradient(
      45deg,
      rgba(152, 152, 153, 0.4) 55%,
      rgba(245, 247, 247, 0.5)
    ),
    url("https://cafeandbooks.files.wordpress.com/2015/06/9-website-chia-se-anh-bia-facebook-dep-doc-0.png");
}

.article-body {
  padding: 1rem;
}

.nav-link {
  padding: 5px 0;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h3 {
  margin: 0;
}

.tag-name {
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 1rem;

  display: inline-block;
}

.btn-width {
  width: 200px;
}

.overtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fas {
  color: red;
}

@media only screen and (max-width: 768px) {
  .btn {
    margin-top: 8px;
  }
}
