ul {
  padding: 0;
}

hr {
  margin-top: 0;
}

.active {
  font-weight: bolder;
  border-bottom: 1px solid gainsboro;
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
  font-size: 1.1rem;
  color: rgb(13, 110, 250);
}

.btn-custom {
  box-shadow: 2px 2px 5px gainsboro;
  border-radius: 1rem;
}

.btn-custom:hover {
  box-shadow: 10px 10px 5px gainsboro;
  color: rgb(13, 110, 250);
}

.tag-list {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 1rem;
}

.tag-link {
  cursor: pointer;
  list-style: none;
  padding: 5px;

  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;

  word-break: keep-all;
  display: inline-block;
  font-weight: bold;
  color: rgb(25, 25, 65);
}

.page-link {
  border: 0px;
  cursor: pointer;
}

/* header */
header {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

header h1.page-title {
  font-size: 70px;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px #e2e6fc, -2px -2px 4px #fff;
}

header h1.fixed-title {
  transform: translateY(-100%);
  position: fixed;
  top: 335px;
  left: 0;
  right: 0;
}

.header-image-bottom {
  pointer-events: none;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
}

.main-container {
  position: relative;
  background: #f5f7fe;
}

.pnf-page-title {
  font-size: 90px;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px #e2e6fc, -2px -2px 4px #fff;
}

header .container {
  position: relative;
  z-index: 2;
}

.bg-img {
  max-height: 100vh;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: linear-gradient(
      45deg,
      rgba(152, 152, 153, 0.4) 55%,
      rgba(245, 247, 247, 0.5)
    ),
    url("https://previews.123rf.com/images/motizova/motizova1803/motizova180300087/97488569-open-book-hardback-books-on-wooden-table-education-background-back-to-school-copy-space-for-text-.jpg");
}

.container-width {
  width: 90%;
}
